.App {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 10px;
  background-color: #282c34;
}

.search {
  width: -webkit-fill-available;
  font-size: large;
}

.table {
  text-align: start;
  color: white;
  font-size: medium;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

tr td:nth-child(1) {
  width: 25px;
  text-align: center;
  padding: 8px;
}

tr.active {
  background-color: gray;
}

.icon {
  width: 20px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.grey {
  color: dimgrey;
}